<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test de personnalité</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-red-500">
        <h1 class="text-center text-2xl text-white py-6">Quel personnage <i>Super Mario</i> es tu ?</h1>
    </header>
    <main class="text-center p-2">
        <p class="ml-4">Réponds aux questions suivantes pour savoir de quel personnage de l'univers Super Mario tu es le plus proche !</p>
        <br>
        <div class="flex justify-center">
            <img src="../static/mario_accueil.jpg"/>
        </div>
        <a class="font-bold ml-4 underline text-red-500" href="/question">Let's-a-go !</a>
    </main>
    <footer class="bg-red-500 py-4">
        <p class="text-center font-semibold"> Copyright TruchMuch'</p>
    </footer>
</body>
</html>