<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test de personnalité</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-red-500">
        <h1 class="text-center text-2xl text-white py-6">Quel personnage <i>Super Mario</i> es tu ?</h1>
    </header>
    <main class="flex justify-around items-center text-center py-2 px-48">
        <section>
            <h1 class="ml-4 capitalize font-semibold">{{nom}}</h1>
            <img src="/static/{{nom}}.png" style="max-width:200px;">
        </section>
        <section>
            <p class="ml-4 pb-12">{{description}}</p>
            <a href="/" class="font-semibold ml-4 underline text-red-500">Retour à l'accueil</a>
        </section>
    </main>
    <footer class="bg-red-500 py-4">
        <p class="text-center font-semibold"> Copyright TruchMuch'</p>
    </footer>
</body>
</html>